*{
  box-sizing: border-box;
}


a{
    margin: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
a:link{
  text-decoration: none;
}
.header {
  background-color: black;
  color: rgb(0, 0, 0);
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  }
 

.header > div {
  margin: 10px;
}

.headerItems{
    display: flex;
    float: right;
    color: #f7eeee;
    cursor: pointer;
    font-size: larger;
}
    .headerItems p{
        margin:10px;
    }

li{
    list-style-type:none;
    padding-left: 2px;
  }

.Logo {
  width:350px;
  height: 100px;
  display: flex;
  float: left;
  cursor: pointer;
  padding: 5px;
}
.Logo img{
  background-color: #eee;
  max-height: 12vh;
  border-radius: 5px;
}

.btn1 {
  color: white;
  text-decoration: none;
  width: 85px;
  height: 50px;
  font-family: 'Cinzel', serif;
  font-size: 17px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  padding: 2px;
}

.btn1::before, .btn1::after {
  position: absolute;
  background: black;
  z-index: -1;
  transition: 1s;
  content: '';
}

.btn1::before {
  height: 50px;
  width: 80px;
}

.btn1::after {
  width: 100px;
  height: 50px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.btn1:hover::before {
  width: 0px;
  background: black;
}

.btn1:hover::after {
  height: 0px;
  background: black;
}

.btn1:hover {
  color: #eee;
  border: 1px solid white;
  background: black;
}